body {
  color: aliceblue;
  background: black;
  padding: 0;
  margin: 0;
  max-height: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  
}
p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section {
  z-index: 10;
  top: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  max-height: 100px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.637), -1px -1px 1px rgb(102, 6, 6);
  border-radius: 20px;
  margin: 20px;
  
}
button {
  display: flex;
  justify-content: center;
  border: 4px solid rgba(0, 0,0,0);
  position: absolute;
  margin-right: 10px;
  margin-top: 70px;
  background: rgba(0, 0,0,0);
  font-size: 30px;
  color: red;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.637), -1px -1px 1px white;
  outline-style: none;
  transition: transform .5s ease-in-out;

}
button:hover {
  color: black;
  transform: scale(1.3);
  
}
span {
  height: 20%;
  text-align: center;
  margin: 20px;
  width: 100%;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
.spacer {
  height: 25px;
}
h2 {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: 20px;
  
  text-align: center;
  color: rgba(30, 91, 131, 0.76);
  text-shadow: 1px 1px 35px rgba(241, 12, 12, 0.836), -1px -1px 1px white;
  /* padding: 20%; */
}

img {
  display: flex;
  position: fixed;
  align-content: center;
  top: 0;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 70vh;
  border-bottom: 10px solid rgb(34, 20, 20);
  box-shadow: 0 0 100px rgb(73, 3, 3),0 0 50px rgb(219, 215, 215);
}
